@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
}
.home{
    width: 100%;
    height: 800px;
    background-image: url(/img/img-p2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}
#menu{
    text-align: right;
    height: 30px;
}
#menu > a{
    color: #fff;
    text-decoration: none;
    padding: 15px;
    margin-left: 15px;
}
#menu > a:hover{
    background-color: #8C5245;
}
.img-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: #fff;
}
.img-h > img{
    border-radius: 50%;
    width: 300px;
    margin-left: 25px;
}
.img-h > img:hover{
    box-shadow: 20px -10px 35px white;
}
.content1{
    background-color: #0C7EF2;
    color: #fff;
    width: 100%;
    height: 700px;
    display: flex;
}
.img-main{
    width: 50%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-main > img{
    width: 400px;
    margin-top:30px;
}
.main-2{
    width: 50%;
    height: 700px;
    display: fle;
}
.main-2 > h2{
    width: 100%;
    height: 80px;
    text-align: left;
    margin-top: 160px;
    margin-bottom: 25px;
    font-size: 55px;
}
.main-2 > p{
    width: 70%;
    height: 200px;
}
.main-2 > a{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 10px 50px;
}
.main-2 > a:hover{
    background-color: #ffffff;
    color: #fff;
}
.content2{
    background-color: #0C7EF2;
    width: 100%;
    height: 500px;
    display: flex;
}
.item{
    background-color: #0801E6;
    color: #fff;
    height: 80%;
    margin: 1%;
    text-align: center;
}
.item > h2{
    margin-top: 15px;
    margin-bottom: 20px;
}
.item > img{
    width: 100px;
    height: 100px;
    margin-top: 40px;
}